{% extends "admin_layout.html"%}

{% block content %}

  <ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" href="\admin_home">ทั้งหมด</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="\admin_home_equipment">เครื่องมือ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="\admin_home_led">หลอดไฟ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="\admin_home_electronic">อุปกรณ์ไฟฟ้า</a>
  </li>
</ul>

<div class="product-container"> 





<div class="container">
  <div class="row justify-content-start">
    {% for m in catalog %}
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card h-100 shadow-sm">
          <img src="{{ m[4] }}" class="card-img-top" style="height:200px; object-fit:cover;">
          <div class="card-body">
            <h6 class="card-subtitle text-muted mb-1">{{ m[6] }}</h6>
            <p class="card-text">{{ m[5] }}</p>
            <p class="card-text">{{ m[7] }}</p>
            <div class="text-muted">จำนวนสินค้า: <strong>{{ m[7] }}</strong></div>
            <div class="text-muted">ราคา: <strong>{{ m[3] }}฿</strong></div>
            <small class="text-success">ส่งฟรี 3-5 ชม.</small>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>




{% endblock%}