{% extends "admin_layout.html"%}

{% block content %}


<table class="table table-bordered table-striped text-center align-middle">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Price (฿)</th>
      <th>Brand</th>
      <th>Detail</th>
      <th>Delete</th>

    </tr>
  </thead>
  <tbody>
    {% for item in CART %}
    <tr>
      
      <td>{{ item[1] }}</td>
      <td>{{ item[2] }}</td>
      <td>{{ item[4] }}</td>
      <td>{{ item[3] }}</td>
      <td>
        <a href="{{ url_for('delete_cart', cart_id=item[0]) }}" 
           class="btn btn-danger btn-sm"
           onclick="return confirm('คุณต้องการลบสินค้านี้หรือไม่?');">
           ลบ
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<div class="text-end mt-3 mb-4">
  <h4 style="text-align: center;">ราคารวมทั้งหมด: {{ total_price }} ฿</h4>
</div>


<div class="d-flex justify-content-center" >

  <a href="/customer_home" class="btn btn-outline-primary">
    เลือกสินค้าต่อ
  </a>


  <a href="" class="btn btn-success">
    สั่งซื้อ
  </a>
</div>



{% endblock%}