{% extends "admin_layout.html"%}

{% block content %}

<main>
        <div class="img">
            <img src="/static/9hooo.png" alt="Hero Banner">
        </div>
        
        <div class="abs">
            <h1>ห้างหุ้นส่วนจำกัด <span style="font-size: 40px;">"คลังไฟฟ้า"</span></h1>
        </div>
        
        <div class="informa"> 
            <h2> 
                <span style="color: #ed0505;">คลังไฟฟ้า</span> ถือกำเนิดขึ้นจากความเชื่อที่ว่า **"งานไฟฟ้าต้องปลอดภัยและได้มาตรฐาน"** เราไม่ได้เป็นแค่ร้านขายอุปกรณ์ไฟฟ้า แต่เราคือ **เพื่อนคู่คิดด้านระบบไฟฟ้า** ที่พร้อมคัดสรรและส่งมอบผลิตภัณฑ์คุณภาพสูงที่ผ่านการรับรองทุกชิ้น ให้ถึงมือช่างและผู้ใช้งานทุกระดับ

                เราเริ่มต้นจากการเป็นแหล่งรวมอะไหล่และอุปกรณ์เฉพาะทางสำหรับช่างมืออาชีพ จนขยายเป็นแพลตฟอร์มออนไลน์ที่ช่วยให้ทุกคนเข้าถึง **ตู้ควบคุม (Control Boxes), เบรกเกอร์, สายไฟ และหลอดไฟ LED** ที่ดีที่สุดในราคาที่สมเหตุสมผล
            </h2>
            
            <ul class="inform">
                <li>
                    พันธกิจและวิสัยทัศน์ของเรา<br>
                    <span style="font-weight: bold;">พันธกิจ (Our Mission)</span> 
                    เรามุ่งมั่นที่จะเป็นผู้นำในการจัดจำหน่ายอุปกรณ์ไฟฟ้าที่มีคุณภาพ เพื่อ **ยกระดับความปลอดภัย** ในการติดตั้งระบบไฟฟ้าทุกประเภท ไม่ว่าจะเป็นบ้านพักอาศัย โรงงาน หรืออาคารพาณิชย์
                </li>

                <li>
                    <span style="font-weight: bold;">วิสัยทัศน์ (Our Vision)</span>
                    เราจะเป็นแพลตฟอร์มที่ลูกค้าไว้วางใจเป็นอันดับแรก เมื่อคิดถึงอุปกรณ์ไฟฟ้าคุณภาพสูง ที่มาพร้อมกับ **คำแนะนำที่ถูกต้อง** และ **บริการที่รวดเร็ว**
                </li>
            </ul>
            
            <p style="text-align: center; font-size: 30px; color: #ed0505; margin-top: 40px;">ทำไมต้องเลือก คลังไฟฟ้า?</p>

            <div class="why">
                <p><span style="font-weight: bold;">1. ความเชี่ยวชาญจากประสบการณ์จริง</span><br>
                ทีมงานของเราประกอบด้วยผู้ที่คร่ำหวอดในวงการไฟฟ้า เราไม่เพียงแค่ขายสินค้า แต่เราพร้อมให้คำปรึกษา แนะนำการเลือกขนาดสายไฟ การติดตั้งตู้ควบคุม หรือการเลือกประเภทหลอดไฟที่เหมาะสมกับงานของคุณ </p>

                <p><span style="font-weight: bold;">2. คุณภาพที่ผ่านการพิสูจน์</span><br>
                สินค้าทุกชิ้นที่ถูกจัดจำหน่ายผ่าน คลังไฟฟ้า ได้รับการตรวจสอบและมีเครื่องหมายรับรองมาตรฐานอุตสาหกรรม (มอก.) เราไม่ประนีประนอมเรื่องคุณภาพ เพื่อความปลอดภัยสูงสุดของลูกค้า</p>
            </div>

        </div>
        
    </main>
    
    <footer class="footer">
        <div class="content">
            <h3>ติดต่อเรา</h3>
            <p>765 ตำบลแม่กา อำเภอเมืองพะเยา พะเยา 56000</p>
            <p>โทร: 0629424144</p>
            <p>Email: example@email.com</p>
           <a href="https://www.facebook.com/niwat.sun"  target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/2048px-2021_Facebook_icon.svg.png" style="width: 30px;" ></a>
            <a href="https://www.google.com/maps/place/%E0%B8%84%E0%B8%A5%E0%B8%B1%E0%B8%87%E0%B9%84%E0%B8%9F%E0%B8%9F%E0%B9%89%E0%B8%B2%E0%B8%9E%E0%B8%B0%E0%B9%80%E0%B8%A2%E0%B8%B2/@19.0380168,99.9274964,621m/data=!3m2!1e3!4b1!4m6!3m5!1s0x30d82d1cd5d26f81:0x3cb7637906705d91!8m2!3d19.0380168!4d99.9300713!16s%2Fg%2F11rr13gqgk?entry=ttu&g_ep=EgoyMDI1MDkyMy4wIKXMDSoASAFQAw%3D%3D" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/1865/1865269.png" style="width: 40px;"></a>

            <div class="footer-bottom">
                &copy; 2024 คลังไฟฟ้า.com
            </div>
        </div>
    </footer>
{% endblock%}