{% extends "customer_layout.html"%}

{% block content %}

  
<div class="cus-review">
    <h1>รีวิวที่จริงใจ🌟</h1>
</div>

<input type="text" class="review" placeholder="เพิ่มรีวิวของที่จริงใจของคุณ🌟❤️">


<div class="review-card">
    <h2 >คุณ: <br>จริงจังไม่จริงโจ้ <span>⭐⭐⭐⭐⭐</span></h2>
    <span class="viewre">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQo5BmwHzyUnriu5idKZfLul2W2krDLUpH5Uw&s" style="width: 100px;"> <br>
    ร้านแนะนำดีมากค่ะ มีประกันแถมทำไม่เป็นยังสอนแบบใจเย็นอีก ชอบมากคร่าาาาา 
    </span>
</div>

<div class="review-card">
    <h2 >คุณ: <br> ใครไม่ยอม พระพยอม<span>⭐⭐⭐⭐</span></h2>
    <span class="viewre">
    ได้มาแล้วแต่ของชำรุด แต่ร้านรับกันดี แจ้งร้านแล้วเปลี่ยนของใหม่ทันที ดีต่อใจปุ่ดๆๆๆ
    </span>
</div>

<div class="review-card">
    <h2 >คุณ: <br>RURI <span>⭐⭐⭐⭐</span></h2>
    <span class="viewre"> <img src="https://i.pinimg.com/736x/34/e8/83/34e8830ff2bb28bd89a65f999541085b.jpg" style="width: 100px;"> <br>
    RURI VERY VERY CUTE!!!👍
    </span>
</div>

<div class="review-card">
    <h2 >คุณ: <br>Johny มือปราบ <span>⭐⭐⭐⭐</span></h2>
    <span class="viewre">
    I love thailland and I can say 3word👍
    </span>
</div>
      
</main>
</body>
</html>


{% endblock%}