{% extends "customer_layout.html"%}

{% block content %}

    <fieldset class="Boder">
        <div class="Boder-p"><img src="https://www.shutterstock.com/image-vector/user-profile-icon-vector-avatar-600nw-2558760599.jpg   " style="width: 10%;"><a href="#" style="color: blue;">แก้ไข</a></div>
        <div class="Boder-g">
    <h1> Wongsakon</h1>
    </div>
    </fieldset> <br>
    <fieldset class="Boder2">
        <div class="Boder-new">
                <h2 style="text-align: center;">ข้อมูลส่วนตัว</h2>
        </div>
        <div class="edit"><button class="edit2">แก้ไขข้อมูล✏️</button></div>
        <div class="line1"></div>
        <div class="Boder-text">
            <p> <strong>ชื่อ-นามสกุล : </strong>Wongsakon  khrtkc</p>
            <p><strong>อีเมล : </strong> xxxxxx@gmail</p>
            <p><strong>เบอร์โทร : </strong>09-xxx-xx579</p>
            <p><strong>วันเกิด : </strong>dd/mm/yy</p>
            
        </div>
    </fieldset><br>
    <fieldset class="Boder3">
        <div class="edit3"><button class="edit4">แก้ไขข้อมูล✏️</button></div>
        <div class="boder-textn">
            <h1>เปลี่ยนรหัสผ่าน</h1>
            <div class="line1"></div>
        </div>
        <div class="boder-textn1">
            <p><strong>รหัสผ่าน : </strong> **********</p>

        </div>
    </fieldset>


{% endblock%}